extends layout

block content
	div#allIndex
		div#loginBlocks
			div#buttonContainer
				h1 Blue
				br
				p.registerButton Register 
				br
				p.loginButton Login
		div#extraInfo
			.contentRow
				div.contentBlock
					h1 Hello
					p My name is Kevin. My name is Kevin. My name is Kevin. My name is Kevin. My name is Kevin. My name is Kevin. My name is Kevin. My name is Kevin.
				div.contentBlock
					h1 Hello
					p My name is Kevin. My name is Kevin. My name is Kevin. My name is Kevin. My name is Kevin. My name is Kevin. My name is Kevin. My name is Kevin.
				div.contentBlock
					h1 Hello
					p My name is Kevin. My name is Kevin. My name is Kevin. My name is Kevin. My name is Kevin. My name is Kevin. My name is Kevin. My name is Kevin.	
		div#druugy