html, body
	padding: 0px
	margin: 0px
	width: 100%
	height: 100%
// background-size: 100%
// a
// 	color: #00B7FF
#header
	font: 14px "Sans"
	padding-top: 2px 
	padding-bottom: 30px
	background-color: #c52500
	width:100%
	height: auto
	color:#FFFFFF
	text-decoration:none
	-webkit-box-shadow: 0px 3px 0px rgba(26, 26, 26, 1)
	-moz-box-shadow:    0px 3px 0px rgba(26, 26, 26, 1)
	box-shadow:         0px 3px 0px rgba(26, 26, 26, 1)
	z-index: 10
	margin-bottom: 3px


#mainNav li
	list-style: none
	display: inline
	margin-right: 10px
	float: left
	color:#FFFFFF
	text-decoration:none
	text-transform:uppercase

#mainNav a
	color:#FFFFFF
	text-decoration:none
	text-transform:uppercase

#personNav li
	margin-right: 10px
	list-style: none
	display: inline
	float: right
	color: #FFF
	text-decoration:none
	text-transform:uppercase

#personNav a
	color:#FFFFFF
	text-decoration:none
	text-transform:uppercase

.qBox
	width:85%
	padding: 5%
	background-color:#eee
	margin: 2% auto
	-webkit-border-radius: 5px
	-moz-border-radius: 5px
	border-radius: 5px

.center_box
	text-align:center
#extraInfo
	margin-top: -20px
	height:500px
	width:100%
	max-width: 100%
	background-color: #f2f2f2
	-webkit-box-shadow: 0px -1px 0px rgba(26, 26, 26, 1)
	-moz-box-shadow:    0px -1px 0px rgba(26, 26, 26, 1)
	box-shadow:         0px -1px 0px rgba(26, 26, 26, 1)
.registerBox
	margin: 20px 10px
	padding: 40px 90px
	float: left
	background-color: #c52500
	color:#FFFFFF
.loginBox
	margin: 20px 10px
	padding: 40px 90px
	float: right
	background-color: #1a1a1a
	color:#FFFFFF
#page
	width: 60%
	margin:0px auto
	padding: 10px
	height: 100%
	max-height: 100%

#loginBlocks
	height: 400px
	width: 100%
	max-width: 100%
	// background-color: green
#druugy
	height: 200px
	width: 100%
	max-width: 100%
	background-color: #1a1a1a
#allIndex
	background-image:url('/images/Detroit’s-bankruptcy-filing-rattles-already-nervous-muni-investors.jpg')
	background-repeat:no-repeat
	background-size: 100%
	background-attachment:fixed
#buttonContainer
	// background-color: orange
	width: 50%
	height: 100%
	margin: auto
	text-align: center
	padding: 30px 0px
	color: white
	font: 20px "Sans"
	text-shadow: black 0em 0em 0.1em
.contentRow
	width: 100%
	height: 100%
	margin-left:auto;
	margin-right:auto;
	float:right
	margin-bottom:-120px
	margin: 0 auto;
	padding-right: 5%;
.loginButton
	padding: 10px
	background-color: #1a1a1a
	margin: 0px 50px
.registerButton
	padding: 10px 3px
	background-color: #c52500
.contentBlock
	margin: 20px 5px

	padding-top: 10px
	padding-bottom: 10px
	padding-right:15px
	padding-left: 15px 
	width: 25%
	height: 87%
	background-color: #c52500
	float: right
	color:#FFFFFF
	